.grid-container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100vh;
  gap: 1rem;
}

.item {
  background-color: purple;
  color: white;
  padding: 2em;
  font-size: 2rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
