.grid-container {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px;
  gap: 1rem;
}

.item {
  background-color: green;
  color: white;
  padding: 2em;
  font-size: 2rem;
  border-radius: 8px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
