.grid-container {
  display: grid;
  grid-auto-columns: 300px;
  grid-auto-rows: 300px;
  grid-auto-flow: column;
  gap: 1em;
}

.item {
  height: 100px;
  width: 100px;
  background-color: hsl(231, 77%, 40%);
  color: white;
  padding: 2em;
  font-size: 2rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
